.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.product_details {
  width: 243px;
  padding-bottom: 18px;
}

.product_details_summary {
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #f16d7f;
  padding: 10px 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
}

.product_details_summary open {
  color: #f16d7f;
}

.product_details_summary::-webkit-details-marker {
  display: none;
}

.product_details_summary::after {
  content: '\25Bc';
  font-size: 11px;
  color: #6f6e6e;
}

.product_details details[open] > summary {
  color: #f16d7f;
}

.product_details details[open] > summary::after {
  content: '\25B2';
  font-size: 11px;
  color: #f16d7f;
}

.product_sort_summary::-webkit-details-marker {
  display: none;
}

.product_sort_summary::after {
  content: '\25Bc';
  font-size: 11px;
  color: #6f6e6e;
  margin-left: 20px;
}

.product_sort details[open] > summary {
  color: #f16d7f;
}

.product_sort details[open] > summary::after {
  content: '\25B2';
  font-size: 11px;
  color: #f16d7f;
}

.product_drop_ul {
  list-style-type: none;
  padding: 15px;
}

.product_drop_ul a {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 33px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.product_drop_ul a:hover {
  color: #f16d7f;
}

.product_main {
  margin-left: 50px;
  width: 848px;
}

.product_setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 41px;
}

.product_setting_trending h5, .product_setting_size h5, .product_setting_price h5 {
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 10px;
}

.product_setting_trending ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-left: -7px;
}

.product_setting_trending li {
  color: #dfdfdf;
}

.product_setting_trending a {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
  padding-right: 7px;
  padding-left: 7px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.product_setting_trending a:hover {
  color: #f16d7f;
}

.product_setting_size_checkbox {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 5px;
  position: relative;
  margin-left: -30px;
}

.product_setting_size_checkbox .checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.product_setting_size_checkbox .checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.product_setting_size_checkbox .checkbox + label::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #ebebeb;
  margin-right: 10px;
  margin-left: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.product_setting_size_checkbox .checkbox:checked + label::before {
  border-color: #f16d7f;
  background-color: #f16d7f;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.product_sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f3;
  height: 50px;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
  padding-left: 9px;
  margin-bottom: 48px;
}

.product_sort_by, .product_sort_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  height: 30px;
  width: 153px;
  margin-right: 10px;
  border: 1px solid #ebebeb;
}

.product_sort_by p, .product_sort_show p {
  border-right: 1px solid #ebebeb;
  padding: 3px 10px 3px 10px;
}

.product_sort_show {
  width: 120px;
}

.product_sort_show p {
  border-right: 1px solid #ebebeb;
  padding: 3px 10px 3px 10px;
}

.product_sort_details {
  padding-left: 11px;
}

.product_sort_summary {
  outline: none;
}

.product .product_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product .product_block_item {
  width: 263px;
  margin-bottom: 39px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.product .product_block_item:hover {
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.product .product_block_item:hover .product_block_img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.product .product_block_img {
  width: 100%;
}

.product .product_block_content {
  padding: 16px;
}

.product .product_block_name {
  font-size: 14px;
  color: #6f6e6e;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.product .product_block_name:hover {
  color: #f16d7f;
}

.product .product_block_price {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
  margin-top: 16px;
}

.product .product_block_add {
  width: 70px;
  height: 30px;
  font-size: 10px;
  font-weight: 300;
  color: #ffffff;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  -webkit-transition: background-color 0.5s, color 0.3s;
  transition: background-color 0.5s, color 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

.product .product_block_add:hover {
  color: #f16d7f;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
}

.product_view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 110px;
}

.product_view_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  height: 44px;
}

.product_view_pages li {
  font-weight: 400;
  color: #c4c4c4;
}

.product_view_link {
  font-size: 16px;
  font-weight: 400;
  color: #c4c4c4;
  padding: 10px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.product_view_link_active {
  color: #f16d7f;
}

.product_view_link:hover {
  color: #f16d7f;
}

.product_view_button {
  height: 44px;
  width: 150px;
  background-color: #ffffff;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #f16d7f;
  line-height: 26px;
  border: 1px solid #f16d7f;
  -webkit-transition: color 0.3s, background 0.5s;
  transition: color 0.3s, background 0.5s;
}

.product_view_button:hover {
  background-color: #f16d7f;
  color: #ffffff;
}

.product_offers {
  background-color: #222224;
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 89px;
}

.product_delivery_link {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 32px;
  margin-bottom: 17px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.product_delivery_link:hover {
  color: #f16d7f;
}

.product_delivery_text {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 24px;
  -webkit-transition: scale 0.3s;
  transition: scale 0.3s;
}

.product_delivery_img:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cart {
  margin-top: 90px;
  margin-bottom: 80px;
}

.cart_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 25px;
}

.cart_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  font-size: 13px;
  font-weight: bold;
  color: #222222;
  letter-spacing: -0.01em;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
}

.cart_head li:first-child {
  margin-right: 288px;
}

.cart_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-top: 25px;
}

.cart_product li:nth-child(2) {
  margin-top: 10px;
  margin-right: 230px;
}

.cart_product_img {
  margin-right: 20px;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.cart_product_img:hover {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.cart_product_name {
  font-size: 13px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.cart_product_name:hover {
  color: #f16d7f;
}

.cart_product_size, .cart_product_color {
  font-size: 13px;
  font-weight: bold;
  color: #575757;
  line-height: 20px;
}

.cart_product_size_spec, .cart_product_color_spec {
  font-size: 13px;
  font-weight: 300;
  color: #6f6e6e;
  line-height: 20px;
}

.cart_product_color {
  margin-top: 35px;
}

.cart_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  width: 607px;
}

.cart_data_list {
  font-size: 13px;
  color: #656565;
  line-height: 20px;
}

.cart_data_list_quantity {
  height: 30px;
  width: 24px;
  border: 1px solid #eaeaea;
  padding-left: 20px;
  padding-right: 10px;
  color: #656565;
  outline: none;
}

.cart_data_list_quantity::-webkit-outer-spin-button, .cart_data_list_quantity::-webkit-inner-spin-button {
  display: none;
}

.cart_data_list_action {
  border: none;
  outline: none;
  color: #c0c0c0;
  background-color: #ffffff;
  margin-right: -7px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.cart_data_list_action:hover {
  color: #f16d7f;
}

.cart_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 44px;
}

.cart_button button {
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding: 18px 38px 18px 38px;
  -webkit-transition: color 0.3s, border 0.3s;
  transition: color 0.3s, border 0.3s;
  outline: none;
}

.cart_button button:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.cart_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 63px;
}

.cart_info_adress, .cart_info_coupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart_info_adress_h3, .cart_info_coupon_h3 {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.cart_info_adress_state, .cart_info_adress #town, .cart_info_coupon #town, .cart_info_adress_postcode, .cart_info_coupon_number {
  height: 45px;
  width: 320px;
  font-size: 13px;
  color: #222222;
  padding-left: 17px;
  padding-right: 17px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  outline: none;
}

.cart_info_adress_state placeholder, .cart_info_adress #town placeholder, .cart_info_coupon #town placeholder, .cart_info_adress_postcode placeholder, .cart_info_coupon_number placeholder {
  color: #b1b1b1;
  font-weight: 300;
}

.cart_info_adress_postcode::-webkit-outer-spin-button, .cart_info_adress_postcode::-webkit-inner-spin-button {
  display: none;
}

.cart_info_adress_button, .cart_info_coupon_button {
  height: 35px;
  width: 100px;
  font-size: 11px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  -webkit-transition: color 0.3s, border 0.3s;
  transition: color 0.3s, border 0.3s;
  outline: none;
}

.cart_info_adress_button:hover, .cart_info_coupon_button:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.cart_info_coupon_text {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 24px;
}

.cart_info_coupon_button {
  width: 118px;
}

.cart_info_total {
  height: 134px;
  width: 280px;
  background-color: #f5f3f3;
  text-align: right;
  padding: 40px;
}

.cart_info_total_sub {
  font-size: 11px;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.cart_info_total_grand {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  padding-bottom: 22px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 35px;
  margin-left: 8px;
}

.cart_info_total_grand span {
  color: #f16d7f;
}

.cart_info_total_button {
  padding: 15px 39px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  -webkit-transition: color 0.3s, background 0.5s;
  transition: color 0.3s, background 0.5s;
}

.cart_info_total_button:hover {
  color: #f16d7f;
  background-color: #ffffff;
}

.checkout {
  margin-top: 90px;
  margin-bottom: 90px;
}

.checkout__details {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 35px;
}

.checkout__summary {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 40px;
  outline: none;
}

.checkout__summary::-webkit-details-marker {
  display: none;
}

.checkout-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  margin-left: 35px;
}

.checkout-section__register {
  margin-right: 290px;
}

.checkout-section__text {
  font-size: 13px;
  color: #b3b2b2;
  line-height: 20px;
}

.checkout-section__text_bold {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.checkout-section__text_arrow::before {
  content: '\00BB';
  font-family: 'FontAwesome';
  font-size: 13px;
  padding-right: 4px;
}

.checkout-section__text_arrow:last-of-type {
  margin-bottom: 38px;
}

.checkout-section__text_alert {
  font-size: 13px;
  color: #ff0d0d;
  line-height: 20px;
  font-weight: 700;
}

.checkout-section__input {
  height: 45px;
  width: 390px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}

.checkout-section__input-block {
  margin-top: 25px;
  margin-bottom: 20px;
}

.checkout-section__button, .checkout-section__log__button {
  width: 180px;
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  -webkit-transition: border 0.3s, color 0.3s;
  transition: border 0.3s, color 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

.checkout-section__button:hover, .checkout-section__log__button:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.checkout-section__log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 11px;
}

.checkout-section__log__button {
  margin-right: 30px;
}

.checkout-section__log__forgot {
  font-size: 14px;
  font-weight: 700;
  color: #222222;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.checkout-section__log__forgot:hover {
  color: #f16d7f;
}

.checkout-section__radio {
  padding-bottom: 10px;
}

.checkout-section__radio__button {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.checkout-section__radio__button + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
}

.checkout-section__radio__button + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #555555;
  border-radius: 50%;
  background: #FFF;
}

.checkout-section__radio__button + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #555555;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.checkout-section__radio__button:checked + label:after {
  opacity: 1;
}

.checkout-section__radio__text {
  font-size: 12px;
  color: #222222;
  font-weight: 700;
}

.checkout-section__radio:first-of-type {
  margin-top: 30px;
}

.checkout-section__radio:last-of-type {
  margin-bottom: 20px;
}

.single__slider {
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 821px;
}

.single__slider__button {
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  border: none;
  color: #ffffff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  outline: none;
}

.single__slider__button_arrow {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.single__slider__button:hover {
  color: #f16d7f;
}

.single__block__content {
  height: 780px;
  width: 1141px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-top: -70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 640px;
  height: 445px;
  border-bottom: 1px solid #eaeaea;
}

.single__description__head {
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  line-height: 24px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  margin-top: 73px;
}

.single__description__head_line {
  background-color: #f16d7f;
  height: 3px;
  width: 63px;
  border: none;
  margin-top: -2px;
}

.single__description__h3 {
  font-size: 18px;
  font-weight: 900;
  color: #4d4d4d;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 18px;
}

.single__description__text {
  font-size: 14px;
  font-weight: 300;
  color: #5e5e5e;
  line-height: 24px;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 30px;
}

.single__description__spec {
  font-size: 14px;
  font-weight: bold;
  color: #2f2f2f;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single__description__spec span {
  color: #b9b9b9;
}

.single__description__spec > p:first-child {
  margin-right: 40px;
}

.single__description__price {
  font-size: 24px;
  font-weight: bold;
  color: #ef5b70;
  line-height: 24px;
  margin-top: 37px;
}

.single__choose {
  margin-top: 63px;
}

.single__choose__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single__choose__color__name, .single__choose__size__name, .single__choose__quantity__name {
  font-weight: bold;
  color: #2f2f2f;
  line-height: 24px;
  margin-bottom: 16px;
}

.single__choose__color__select, .single__choose__size__select {
  height: 35px;
  width: 144px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding-left: 14px;
  padding-right: 9px;
  font-size: 13px;
  color: #bcbcbc;
  line-height: 24px;
  outline: none;
}

.single__choose__size {
  margin-right: 53px;
  margin-left: 53px;
}

.single__choose__quantity__input {
  height: 33px;
  width: 106px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 13px;
  color: #bcbcbc;
  line-height: 24px;
  outline: none;
}

.single__choose__quantity__input placeholder {
  color: #b1b1b1;
}

.single__choose__quantity__input::-webkit-outer-spin-button, .single__choose__quantity__input::-webkit-inner-spin-button {
  display: none;
}

.single__choose__button {
  width: 537px;
  height: 55px;
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  -webkit-transition: background-color 0.5s, color 0.3s;
  transition: background-color 0.5s, color 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  margin-top: 28px;
}

.single__choose__button:hover {
  color: #ffffff;
  background-color: #f16d7f;
}

.single__choose i {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  margin-right: 20px;
}

.single__also {
  margin-top: 120px;
  margin-bottom: 94px;
}

.single__also__h3 {
  font-size: 24px;
  font-weight: 900;
  color: #4d4d4d;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 72px;
}

.single__also__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single__also__product {
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.single__also__product:hover {
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.single__also__product:hover .single__also__product__img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.single__also__product__img {
  width: 100%;
}

.single__also__product__content {
  padding: 16px;
}

.single__also__product__name {
  font-size: 14px;
  color: #6f6e6e;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.single__also__product__name:hover {
  color: #f16d7f;
}

.single__also__product__price {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
  margin-top: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato';
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.center {
  padding: 0 calc(50% - 570px);
}

a {
  text-decoration: none;
}

.header {
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_form, .header_left, .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_input {
  height: 38px;
  width: 264px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
}

.header_search {
  height: 40px;
  width: 36px;
  border: 1px solid #e6e6e6;
  border-radius: 0 3px 3px 0;
  outline: none;
}

.header_cart {
  margin-right: 26px;
  position: relative;
  background-color: #ffffff;
  border: #ffffff;
  outline: none;
}

.header_cart .drop_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_cart .drop_cart_hide {
  display: none;
}

.header_account {
  height: 25px;
  background-color: #f16d7f;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0.03em;
  padding-top: 13px;
  padding-left: 19px;
  padding-right: 19px;
  border: 1px solid #f16d7f;
  -webkit-transition: background 0.5s, color 0.3s;
  transition: background 0.5s, color 0.3s;
}

.header_account:hover {
  border: 1px solid #f16d7f;
  background-color: #ffffff;
  color: #f16d7f;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 37px;
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 32px;
}

.logo_letter {
  font-size: 27px;
  font-weight: 700;
  color: #f16d7f;
  letter-spacing: 0.03em;
  line-height: 32px;
}

.logo_img {
  margin-right: 13px;
}

.browse {
  height: 38px;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  letter-spacing: 0.03em;
  border: 1px solid #e6e6e6;
  border-radius: 3px 0 0 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  position: relative;
}

.browse[open] .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  top: 30px;
  left: 0;
  outline: none;
}

.browse summary {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  padding: 11px;
}

.browse summary::-webkit-details-marker {
  display: none;
}

.browse summary::after {
  content: '\25Bc';
  font-size: 8px;
  color: #838383;
  margin-left: 5px;
}

.menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu_link {
  padding: 20px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  line-height: 26px;
  text-transform: uppercase;
}

.menu_link:hover {
  color: #f16d7f;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.menu_list {
  position: relative;
}

.menu_list:hover .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  display: none;
  top: 48px;
}

.drop_col {
  margin-right: 45px;
}

.drop_col:last-of-type {
  margin-right: 0;
}

.drop_h3 {
  font-size: 14px;
  color: #232323;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 8px;
  width: 234px;
}

.drop_ul {
  list-style-type: none;
}

.drop_a {
  font-size: 14px;
  color: #646464;
  letter-spacing: 0.03em;
  line-height: 28px;
}

.drop_a:hover {
  color: #f16d7f;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.drop_last {
  right: 0;
}

.drop_banner {
  background-image: url(https://raw.githubusercontent.com/Kondratyi/Static/master/img/mega-menu.png);
  height: 118px;
  width: 255px;
  margin-top: 15px;
}

.drop_banner p {
  font-size: 22px;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 28px;
  text-transform: uppercase;
  text-align: right;
  padding-top: 55px;
  padding-right: 10px;
}

.drop_cart {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  display: none;
  top: 30px;
  min-width: 235px;
  z-index: 1;
}

.drop_cart_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 17px;
  margin-bottom: 17px;
  border-bottom: 1px solid #e2e2e2;
}

.drop_cart_item_img {
  width: 72px;
  height: 85px;
}

.drop_cart_item_img:hover {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.drop_cart_item_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
  margin-right: 55px;
}

.drop_cart_item_content_name {
  font-size: 12px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  min-width: 100px;
}

.drop_cart_item_content_name:hover {
  color: #f16d7f;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.drop_cart_item_content_stars {
  width: 56px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.drop_cart_item_content_price {
  font-size: 12px;
  color: #f16d7f;
  text-align: left;
}

.drop_cart_item_del {
  margin-top: 30px;
  color: #c0c0c0;
  border: none;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
}

.drop_cart_item_del:hover {
  color: #f16d7f;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.drop_cart_total {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.drop_cart_button {
  height: 50px;
  width: 225px;
  padding-top: 17px;
  margin-bottom: 11px;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  -webkit-transition: color 0.3s, border 0.3s;
  transition: color 0.3s, border 0.3s;
}

.drop_cart_button:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
}

.arrivals_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f3f4;
  height: 148px;
}

.arrivals_head h2 {
  font-weight: 900;
  color: #f16d7f;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}

.arrivals_head_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.arrivals_head_ul li {
  font-weight: 300;
}

.arrivals_head_link {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  line-height: 20px;
  text-transform: uppercase;
  padding-right: 3px;
  padding-left: 3px;
}

.arrivals_head_link_active {
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.arrivals_head_link:hover {
  color: #f16d7f;
}

.promo-width {
  background-color: #e8e8e8;
}

.promo {
  height: 614px;
  background-color: #ffffff;
  background-image: url(https://raw.githubusercontent.com/Kondratyi/Static/master/img/promo-back.png);
  background-position: center -51px;
  background-repeat: no-repeat;
}

.promo_content {
  margin-top: 224px;
  float: left;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
  -webkit-transition: 1s;
  transition: 1s;
}

.promo_content:hover {
  border-left: 64px solid #f16d7f;
}

.promo_h1 {
  font-size: 60px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 45px;
  margin-bottom: 12px;
}

.promo_h2 {
  font-size: 40px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 33px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 98px;
}

.categories_left {
  margin-right: 21px;
}

.categories_men {
  height: 542px;
  width: 560px;
  background-image: url(https://raw.githubusercontent.com/Kondratyi/Static/master/img/for_man.png);
  margin-bottom: 20px;
}

.categories_acces {
  height: 261px;
  width: 560px;
  background-image: url(https://raw.githubusercontent.com/Kondratyi/Static/master/img/acces.png);
}

.categories_women {
  height: 261px;
  width: 560px;
  background-image: url(https://raw.githubusercontent.com/Kondratyi/Static/master/img/for_women.png);
  margin-bottom: 20px;
}

.categories_kids {
  height: 542px;
  width: 560px;
  background-image: url(https://raw.githubusercontent.com/Kondratyi/Static/master/img/for_kids.png);
}

.categories_content {
  background-color: white;
  display: inline-block;
  margin-top: 26px;
  padding: 16px 18px;
  -webkit-transition: padding-left 1s;
  transition: padding-left 1s;
}

.categories_content:hover {
  padding-left: 80px;
}

.categories_content h4 {
  font-size: 18px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
}

.categories_content h3 {
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;
  letter-spacing: 0.03em;
}

.featured {
  margin-top: 100px;
}

.featured_text h3 {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  text-align: center;
  letter-spacing: 0.03em;
}

.featured_text p {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 34px;
  margin-bottom: 60px;
}

.featured_browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 55px;
}

.featured_browse a {
  height: 48px;
  background-color: #f16d7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.03em;
  border: 1px solid #f16d7f;
  -webkit-transition: background 0.5s, color 0.3s;
  transition: background 0.5s, color 0.3s;
}

.featured_browse a:hover {
  background-color: #ffffff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.featured_browse img {
  padding-left: 9px;
}

.featured_product {
  width: 263px;
  margin-bottom: 39px;
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.featured_product:hover {
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.featured_product:hover .featured_product_img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.featured_product:hover .featured_product_add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured_product_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.featured_product_img {
  width: 100%;
}

.featured_product_content {
  padding: 16px;
}

.featured_product_content :hover {
  color: #f16d7f;
}

.featured_product_price {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
  margin-top: 16px;
}

.featured_product_name {
  font-size: 14px;
  color: #222222;
  text-transform: uppercase;
}

.featured_product_add {
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  height: 39px;
  width: 123px;
  border: 1px solid #ffffff;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 97px;
  left: 70px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.featured_product_add:hover {
  -webkit-box-shadow: 0 0 6px #fff;
          box-shadow: 0 0 6px #fff;
}

.offer {
  margin-top: 113px;
  margin-bottom: 97px;
  height: 529px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer_banner {
  background-image: url(https://raw.githubusercontent.com/Kondratyi/Static/master/img/offer_banner.png);
  width: 767px;
}

.offer_banner_text {
  padding-top: 146px;
  padding-left: 39px;
}

.offer_banner_text h2 {
  font-size: 54px;
  font-weight: bold;
  color: #f16d7f;
  letter-spacing: 0.03em;
}

.offer_banner_text h3 {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.offer_banner_text_30 {
  color: #ffffff;
}

.offer_content {
  background-color: #222224;
  width: 373px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer_content_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 48px 35px 0 35px;
}

.offer_content_img a:nth-child(2) {
  margin-top: 120px;
  margin-bottom: 114px;
}

.offer_content_img a:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.offer_content_text {
  padding-right: 26px;
  padding-top: 55px;
}

.offer_content_text a {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  letter-spacing: 0.03em;
}

.offer_content_text a:hover {
  color: #f16d7f;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.offer_content_text p {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  letter-spacing: 0.03em;
  line-height: 24px;
  margin-bottom: 50px;
  margin-top: 15px;
}

.subcribe-width {
  background-color: #f2f2f2;
}

.subscribe {
  height: 438px;
  background-image: url(https://raw.githubusercontent.com/Kondratyi/Static/master/img/sub.png);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe_reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 111px;
}

.subscribe_reviews_content {
  width: 425px;
  padding-top: 12px;
  padding-left: 28px;
}

.subscribe_reviews_text {
  font-size: 16px;
  font-style: italic;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 26px;
  padding-bottom: 10px;
}

.subscribe_reviews_name {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  letter-spacing: 0.03em;
  line-height: 26px;
}

.subscribe_reviews_place {
  font-size: 12px;
  font-weight: 400;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 14px;
}

.subscribe_reviews_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 41px;
}

.subscribe_reviews_slider a {
  width: 40px;
  border: 3px solid #d6d6d6;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.subscribe_reviews_slider a:nth-child(2) {
  border: 3px solid #f16d7f;
  margin-left: 13px;
  margin-right: 13px;
}

.subscribe_reviews_slider a:hover {
  border: 3px solid #f16d7f;
}

.subscribe_sub {
  margin-top: 148px;
  margin-left: 100px;
}

.subscribe_sub_title h3 {
  font-size: 24px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 34px;
  text-transform: uppercase;
}

.subscribe_sub_title p {
  font-size: 14px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 24px;
  margin-bottom: 35px;
}

.subscribe_sub_input input {
  width: 254px;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
  border-radius: 23px 0 0 23px;
  font-size: 14px;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 54px;
  padding-left: 28px;
  padding-right: 28px;
  outline: none;
}

.subscribe_sub_input button {
  width: 110px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 54px;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  border-radius: 0 23px 23px 0;
  margin-left: -4px;
  outline: none;
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 109px;
  margin-bottom: 97px;
}

.footer_nav_info {
  width: 430px;
  margin-right: 61px;
}

.footer_nav_info p {
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  letter-spacing: 0.03em;
  line-height: 24px;
  margin-top: 29px;
}

.footer_nav_ul {
  list-style-type: none;
  margin-top: 14px;
  margin-right: 80px;
}

.footer_nav_ul_link {
  font-size: 16px;
  color: #898989;
  letter-spacing: 0.03em;
  line-height: 42px;
}

.footer_nav_ul_link:hover {
  color: #f16d7f;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer_nav_ul_list:first-child {
  padding-bottom: 25px;
}

.footer_nav_ul_list:first-child a {
  font-size: 18px;
  font-weight: bold;
  color: #f16d7f;
  letter-spacing: 0.03em;
  line-height: 26px;
}

.footer_nav_ul_list:first-child a:hover {
  color: #898989;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer_copy {
  height: 80px;
  background-color: #e6e6e6;
  font-size: 16px;
  color: #7a7a7a;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_copy p {
  margin-top: 33px;
}

.footer_copy_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_copy_social .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #b2b2b2;
  letter-spacing: 0.03em;
  line-height: 42px;
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  margin-right: 18px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.footer_copy_social .icon:last-of-type {
  margin-right: 0;
}

.footer_copy_social .icon:hover {
  background-color: #f16d7f;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */