@import "vars";
@import "mixins";

.cart {
  margin-top: 90px;
  margin-bottom: 80px;
  &_section {
    display: flex;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 25px;
  }
  &_head {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 13px;
    font-weight: bold;
    color: #222222;
    letter-spacing: -0.01em;
    line-height: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
    & li:first-child {
      margin-right: 288px;
    }
  }
  &_product {
    display: flex;
    list-style-type: none;
    margin-top: 25px;
    & li:nth-child(2){
      margin-top: 10px;
      margin-right: 230px;
    }
    &_img {
      margin-right: 20px;
      transition: filter 0.3s;
      &:hover {
        filter: brightness(60%);
      }
    }
    &_name {
      font-size: 13px;
      font-weight: bold;
      color: #222222;
      text-transform: uppercase;
      transition: color 0.3s;
      &:hover {
        color: $color-brand;
      }
    }
    &_size {
      font-size: 13px;
      font-weight: bold;
      color: #575757;
      line-height: 20px;
      &_spec {
        font-size: 13px;
        font-weight: 300;
        color: #6f6e6e;
        line-height: 20px;
      }
    }
    &_color {
      margin-top: 35px;
      @extend .cart_product_size;
      &_spec {
        @extend .cart_product_size_spec;
      }
    }
  }
  &_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 607px;
    &_list {
      font-size: 13px;
      color: #656565;
      line-height: 20px;
      &_quantity {
        height: 30px;
        width: 24px;
        border: 1px solid #eaeaea;
        padding-left: 20px;
        padding-right: 10px;
        color: #656565;
        outline: none;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          display: none;
        }
      }
      &_action {
        border: none;
        outline: none;
        color: #c0c0c0;
        background-color: #ffffff;
        margin-right: -7px;
        transition: color 0.3s;
        &:hover {
          color: $color-brand;
        }
      }
    }
  }
  &_button {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    & button {
      font-size: 14px;
      font-weight: bold;
      color: #4a4a4a;
      text-transform: uppercase;
      background-color: #ffffff;
      border: 1px solid #eaeaea;
      padding: 18px 38px 18px 38px;
      transition: color 0.3s, border 0.3s;
      outline: none;
      &:hover {
        color: $color-brand;
        border: 1px solid $color-brand;
      }
    }
  }
  &_info {
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
    &_adress {
      display: flex;
      flex-direction: column;
      &_h3 {
        font-size: 16px;
        font-weight: bold;
        color: #222222;
        text-transform: uppercase;
        margin-bottom: 22px;
      }
      & #town {
        @extend .cart_info_adress_state;
      }
      &_state {
        height: 45px;
        width: 320px;
        font-size: 13px;
        color: #222222;
        padding-left: 17px;
        padding-right: 17px;
        margin-bottom: 20px;
        border: 1px solid #eaeaea;
        outline: none;
        & placeholder {
          color: #b1b1b1;
          font-weight: 300;
        }
      }
      &_postcode {
        @extend .cart_info_adress_state;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          display: none;
        }
      }
      &_button {
        height: 35px;
        width: 100px;
        font-size: 11px;
        font-weight: bold;
        color: #4a4a4a;
        text-transform: uppercase;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        transition: color 0.3s, border 0.3s;
        outline: none;
        &:hover {
          color: $color-brand;
          border: 1px solid $color-brand;
        }
      }
    }
    &_coupon {
      @extend .cart_info_adress;
      &_h3 {
        @extend .cart_info_adress_h3;
      }
      &_text {
        font-size: 14px;
        font-weight: 300;
        color: #000000;
        margin-bottom: 24px;
      }
      &_number {
        @extend .cart_info_adress_state;
      }
      &_button {
        @extend .cart_info_adress_button;
        width: 118px;
      }
    }
    &_total {
      height: 134px;
      width: 280px;
      background-color: #f5f3f3;
      text-align: right;
      padding: 40px;
      &_sub {
        font-size: 11px;
        color: #4a4a4a;
        text-transform: uppercase;
        margin-bottom: 14px;
      }
      &_grand {
        font-size: 16px;
        font-weight: bold;
        color: #222222;
        padding-bottom: 22px;
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 35px;
        margin-left: 8px;
        & span {
          color: $color-brand;
        }
      }
      &_button {
        padding: 15px 39px;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        background-color: $color-brand;
        border: 1px solid $color-brand;
        transition: color 0.3s, background 0.5s;
        &:hover {
          color: $color-brand;
          background-color: #ffffff;
        }
      }
    }
  }
}