@mixin button-transparent($height, $width, $font-size, $font-weight)
{
  width: $width;
  height: $height ;
  font-size: $font-size;
  font-weight: $font-weight;
  color: #4a4a4a;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  transition: border 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  &:hover {
    color: $color-brand;
    border: 1px solid $color-brand;
  }
}
@mixin button-brand ($height, $width, $font-size, $font-weight) {
  width: $width;
  height: $height;
  font-size: $font-size;
  font-weight: $font-weight;
  color: #ffffff;
  background-color: $color-brand;
  border: 1px solid $color-brand;
  transition: background-color 0.5s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  &:hover {
    color: $color-brand;
    background-color: #ffffff;
    border: 1px solid $color-brand;
  }
}
@mixin button-brand_transparent ($height, $width, $font-size, $font-weight) {
  width: $width;
  height: $height;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color-brand;
  background-color:  #ffffff;
  border: 1px solid $color-brand;
  transition: background-color 0.5s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  &:hover {
    color: #ffffff;
    background-color: $color-brand;
  }
}
@mixin link ($font-size, $font-weight, $color) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  transition: color 0.3s;
    &:hover {
    color: $color-brand;
  }
}