@import "vars";
@import "mixins";
.single__slider {
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 821px;
  &__button {
    height: 47px;
    width: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    border: none;
    color: #ffffff;
    transition: color 0.3s;
    outline: none;
    &_arrow {
      transform: scale(1.5);
    }
    &:hover {
      color: $color-brand;
    }
  }
}
.single__block__content{
  height: 780px;
  width: 1141px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-top: -70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.single__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
  height: 445px;
  border-bottom: 1px solid #eaeaea;
  &__head {
    font-size: 14px;
    font-weight: bold;
    color: $color-brand;
    line-height: 24px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-top: 73px;
    &_line {
      background-color: $color-brand;
      height: 3px;
      width: 63px;
      border: none;
      margin-top: -2px;
    }
  }
  &__h3 {
    font-size: 18px;
    font-weight: 900;
    color: #4d4d4d;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 18px;
  }
  &__text {
    font-size: 14px;
    font-weight: 300;
    color: #5e5e5e;
    line-height: 24px;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 30px;
  }
  &__spec {
    font-size: 14px;
    font-weight: bold;
    color: #2f2f2f;
    line-height: 24px;
    display: flex;
    & span {
      color: #b9b9b9;
    }
    &>p:first-child {
      margin-right: 40px;
    }
  }
  &__price {
    font-size: 24px;
    font-weight: bold;
    color: #ef5b70;
    line-height: 24px;
    margin-top: 37px;
  }
}
.single__choose {
  margin-top: 63px;
  &__block {
    display: flex;
  }
  &__color {
    &__name {
      font-weight: bold;
      color: #2f2f2f;
      line-height: 24px;
      margin-bottom: 16px;
    }
    &__select {
      height: 35px;
      width: 144px;
      background-color: #ffffff;
      border: 1px solid #eaeaea;
      padding-left: 14px;
      padding-right: 9px;
      font-size: 13px;
      color: #bcbcbc;
      line-height: 24px;
      outline: none;
    }
  }
  &__size {
    margin-right: 53px;
    margin-left: 53px;
    &__name {
      @extend .single__choose__color__name;
    }
    &__select {
      @extend .single__choose__color__select;
    }
  }
  &__quantity {
    &__name {
      @extend .single__choose__color__name;
    }
    &__input {
      height: 33px;
      width: 106px;
      background-color: #ffffff;
      border: 1px solid #eaeaea;
      padding-left: 17px;
      padding-right: 17px;
      font-size: 13px;
      color: #bcbcbc;
      line-height: 24px;
      outline: none;
      & placeholder {
        color: #b1b1b1;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        display: none;
      }
    }
  }
  &__button {
    @include button-brand_transparent (55px, 537px, 16px, bold);
    margin-top: 28px;
  }
  & i {
    transform: scale(1.4);
    margin-right: 20px;
  }
}
.single__also {
  margin-top: 120px;
  margin-bottom: 94px;
  &__h3 {
    font-size: 24px;
    font-weight: 900;
    color: #4d4d4d;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 72px;
  }
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__product {
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
      & .single__also__product__img {
        filter: brightness(40%);
        transition: filter 0.3s;
      }
    }
    &__img {
      width: 100%;
    }
    &__content {
      padding: 16px;
    }
    &__name {
      font-size: 14px;
      color: #6f6e6e;
      text-transform: uppercase;
      transition: color 0.3s;
      &:hover {
        color: $color-brand;
      }
    }
    &__price {
      font-size: 16px;
      font-weight: bold;
      color: $color-brand;
      text-transform: uppercase;
      margin-top: 16px;
    }
  }
}